{% extends "base.html" %}

{% block title %} <title>Admin Panel</title> {% endblock %}

{% block content %}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">

  {% for container in containers %}
    <button class="nav-link {{ 'active' if active == container.name }}" id="{{ container.name }}-tab"
      data-bs-toggle="tab" data-bs-target="#{{ container.name }}"
      aria-controls="{{ container.name }}" aria-selected="{{ 'true' if loop.index == 1 else 'false' }}"
      type="button" role="tab" onclick="setLocation('{{ container.name }}')">{{ container.name }}</button>
  {% endfor %}

  </div>
</nav>
<div class="tab-content" id="container-contents">

  {% for container in containers %}
  <div class="tab-pane show {{ 'active' if active == container.name }}" id="{{ container.name }}" role="tabpanel" aria-labelledby="{{ container.name }}-tab">
    <div class="mt-3">
      <h2>Status</h2>
      <div class="border rounded p-4" id="status-wrapper">
        <p><strong>Id</strong>: {{ container.id }}</p>
        <p><strong>Image</strong>: {{ container.image }}</p>
        <p><strong>Status</strong>: {{ container.status }}</p>

        {% if container.logs %}
        <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#log-container-{{ container.name }}" aria-expanded="false" aria-controls="log-container-{{ container.name }}">
          Toggle Logs
        </button>
        <div id="log-container-{{ container.name }}" class="collapse bg-light p-2 rounded">
          <pre style="max-height: 50vh;"><code class="overflow-scroll">{{ container.logs }}</code></pre>
        </div>
        {% endif %}

      </div>

      <hr>

      <h2>Env</h2>
      <div class="border rounded p-4" id="env-wrapper">
        <form id="{{ container.id }}">
          <div id="env-{{ container.name }}">

            {% for key, value in container.env.items() %}
            <div class="row mb-3">
              <div class="col-sm-3">
                <input type="text" class="form-control" name="{{ container.name }}-key" value="{{ key }}">
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="{{ container.name }}-value" value="{{ value }}">
              </div>
              <div class="col-sm-1">
                <button onclick="removeEnv(event)" type="button" class="btn-close" aria-label="Close"></button>
              </div>
            </div>
            {% endfor %}

          </div>
          <button type="button" class="btn btn-light me-2" id="add-key-{{ container.name }}">Add Key</button>
          <input id="submit-{{ container.name }}" type="submit" class="btn btn-primary" value="Update">
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    const envContainer{{ container.name }} = document.getElementById("env-{{ container.name }}");
    const addKeyButton{{ container.name }} = document.getElementById("add-key-{{ container.name }}");
    const submitButton{{ container.name }} = document.getElementById("submit-{{ container.name }}");

    function setLocation(tabName) {
      let url = new URL(window.location);
      url.searchParams.set('active', tabName);
      window.history.pushState({}, '', url);
    }

    function removeEnv(event) {
      event.target.parentElement.parentElement.remove();
    }

    async function submitForm(id) {
      const envForm = document.getElementById(id);
      const formData = new FormData(envForm);

      try {
        const response = await fetch(`/api/env?id=${id}`, {
          method: "POST",
          body: formData
        });

        if (response.ok) {
          return ".env updated!";
        }
        else {
          const res_body = await response.json();
          return res_body.error
        }

      } catch (err) {
        return err;
      }
      return "Something unexpected went wrong";
    }

    submitButton{{ container.name }}.addEventListener("click", async (event) => {
      event.preventDefault();
      event.target.classList.toggle("btn-primary");
      event.target.classList.toggle("btn-secondary");
      const message = await submitForm("{{ container.id }}");
      event.target.classList.toggle("btn-primary");
      event.target.classList.toggle("btn-secondary");
      alert(message);
    });

    addKeyButton{{ container.name }}.addEventListener("click", () => {
      envContainer{{ container.name }}.insertAdjacentHTML("beforeend", `
        <div class="row mb-3">
          <div class="col-sm-3">
            <input type="text" class="form-control" name="{{ container.name }}-key">
          </div>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="{{ container.name }}-value">
          </div>
          <div class="col-sm-1">
            <button onclick="removeEnv(event)" type="button" class="btn-close" aria-label="Close"></button>
          </div>
        </div>
      `);
    });
  </script>
  {% endfor %}

</div>
{% endblock %}

